/* style.css */
.button {
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.text-field {
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-border-color: #cfd8dc;
    -fx-background-color: #f5f5f5;
}

.text-field:focused {
    -fx-border-color: #66bb6a;
}

.label {
    -fx-font-size: 12px;
}

.list-view {
    -fx-border-color: #cfd8dc;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
}
